<div class="ruderSens-wrapper">

  <div class="rudder-gauge">
    <div class="rudder-indicator"
    [style.width.%]="indicatorWidth" [style.background-color]="indicatorColor"
    [style.margin-left.%]="marginLeft" [style.margin-right.%]="marginRight"></div>
  </div>

  <div class="left-out">30</div>
  <div class="ruderSens">

    <div class="marker">
      <div class="marker-text left">20</div>
    </div>
    <div class="marker">
      <div class="marker-text left">10</div>
    </div>
    <div class="marker">
      <div class="marker-text"></div>
    </div>
    <div class="marker">
      <div class="marker-text">10</div>
    </div>
    <div class="marker">
      <div class="marker-text">20</div>
    </div>

  </div>
  <div class="right-out">30</div>
</div>
