@import "../../scss/checkbox";

* {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.nav {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.nav-item {
  border: 2px solid #2070d0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: #333;
  padding: 1rem;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &.active {
    background: #222;
    border: 1px solid #888;
  }

}

.nav-item > img {
  width: 32px;
  height: 32px;
}

.nav-item > div {
  width: auto;
}


.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.state {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: auto;
  font-size: 1.1rem;
  background: #333333;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.state-text {
  height: auto;
}

.state-circle {
  width: 1rem;
  height: 1rem;
  background: #444;
  border-radius: 50%;

  &.active {
    background: #4c9d3a;
  }

  &.inactive {
    background: #b63737;
  }

}

.course {
  display: flex;
  align-items: center;
  font-weight: normal;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 8rem;
  line-height: 1.5;
  height: auto;
  transition: 0.6s;

  & > span {
    font-size: 6rem;
    @media screen and (max-height: 500px) {
      font-size: 4rem;
    }
  }

  @media screen and (max-height: 500px) {
    font-size: 4rem;
  }

}

.headingCommand {
  font-size: 1.5rem;
  background: #333333;
  border-radius: 0.5rem;
  padding: 0.5rem 0.4rem 0.5rem 0.8rem;
  border: 2px solid #999;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 1rem;
  height: auto;

  & > span {
    font-size: 0.9rem;
  }

  & > b {
    font-size: 1.5rem;
  }

  @media screen and (max-height: 500px) {
    font-size: 2rem;
  }

}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: auto;
  padding-bottom: 1rem;

  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

}

.button {
  border: 2px solid #2070d0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
  height: auto;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold;
  background: #333;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &.setter {
    width: 50%;

    @media screen and (max-width: 500px) {
      width: calc(50% - 1rem);
    }

  }

  &.success {
    border: 0;
    // border: 2px solid #4c9d3a;
    background: #4c9d3a;
    &.disabled {
      background: #385731;
      color: #CCC;
      &:hover {
        cursor: default;
      }
    }
  }

  &.danger {
    border: 0;
    // border: 2px solid #b63737;
    background: #b63737;
    &.disabled {
      background: #6c3636;
      color: #CCC;
      &:hover {
        cursor: default;
      }
    }
  }

  @media screen and (max-width: 500px) {
    &.toggle {
      width: 100%;
    }
  }

}

.button > img {
  width: 32px;
  height: auto;
}

.button > div {
  height: auto;
}

.state-wrapper {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


app-ruder-sense {
  height: auto;
  width: 100%;
}

@keyframes wobble {
  0% { transform: translateX(0); }
  15% { transform: translateX(-5px) rotate(-3deg); }
  30% { transform: translateX(5px) rotate(3deg); }
  45% { transform: translateX(-5px) rotate(-3deg); }
  60% { transform: translateX(5px) rotate(3deg); }
  75% { transform: translateX(-5px) rotate(-3deg); }
  100% { transform: translateX(0) rotate(0deg); }
}

.wobble {
  display: inline-block;
  animation: wobble 0.5s infinite;
  font-size: 12rem;
  @media screen and (max-height: 800px) {
    font-size: 5rem;
  }
}

.mode-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: auto;
}

.modes {
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  overflow: hidden;
  min-height: 3rem;
  & > .mode {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: auto;
    background: #333;
    padding: 1rem;
    font-weight: bold;
    font-size: 0.8rem;

    & > label {
      display: flex;
      align-items: center;
    }

    /* &.left {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    &.right {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    } */

    &.active {
      background: #2070d0;
    }
    & > img {
      width: 18px;
      height: 18px;
    }
  }
}

.only-sm {
  @media screen and (min-width: 500px) {
    display: none;
  }
}

.only-lg {
  @media screen and (max-width: 500px) {
    display: none;
  }
}
