<div class="container">
  <div class="nav">
    <div routerLink="/status" routerLinkActive="active" class="nav-item" style="width: auto">
      <img src="assets/back.svg">
    </div>
    <div class="state" [ngClass]="state ? 'active' : 'inactive'">
      <div class="state-text">
        {{ state ? 'auto' : 'standBy' }}
      </div>
      <div class="state-circle" [ngClass]="state ? 'active' : 'inactive'"></div>
    </div>
    <div routerLink="/status" routerLinkActive="active" class="nav-item" style="width: auto">
      <img src="assets/mechanical-gears-.svg">
    </div>
  </div>
  <div class="mode-wrapper">
    <div class="modes">
      <div (click)="setValue(pyPilotParameterClass.apMode, apModeClass.Compass)" class="mode left"
           *ngIf="isWindDataExists || isPositionDataExists"
           [ngClass]="apMode == apModeClass.Compass.toString() ? 'active' : ''">
        <img src="assets/compass.png">
        <label [innerText]="Resource.KompassLabel"></label>
      </div>
      <div (click)="setValue(pyPilotParameterClass.apMode, apModeClass.GPS)" class="mode"
           *ngIf="isPositionDataExists"
           [ngClass]="apMode == apModeClass.GPS.toString() ? 'active' : ''">
        <img src="assets/gps.png">
        <label [innerText]="Resource.GPSLabel"></label>
      </div>
      <div (click)="setValue(pyPilotParameterClass.apMode, apModeClass.Wind)" class="mode right"
           *ngIf="isWindDataExists"
           [ngClass]="apMode == apModeClass.Wind.toString() ? 'active' : ''">
        <img src="assets/wind.png">
        <label [innerText]="Resource.WindLabel"></label>
      </div>
    </div>
  </div>
  <div class="values">
    <div *ngIf="state" class="course" id="course">
      {{ course }}<span>°</span>
    </div>
    <div *ngIf="!state" class="course" id="course2">
      {{ course }}<span>°</span>
    </div>
    <div *ngIf="state" class="headingCommand">
      <span>{{ Resource.SetCourseLabel }}: </span><b>{{ headingCommand }}</b>°
    </div>
  </div>
  <app-ruder-sense />
  <div class="actions">

    <button class="button setter only-lg" (click)="setCourse(-10)" type="button">
      -10
    </button>
    <button class="button setter only-sm" *ngIf="state" (click)="setCourse(1)" type="button">
      +1
    </button>

    <button class="button setter only-sm" *ngIf="state" (click)="setCourse(-1)" type="button">
      -1
    </button>
    <button class="button setter only-lg" (click)="setCourse(-1)" type="button">
      -1
    </button>

    <button class="button success toggle only-lg" type="button" *ngIf="!state" (click)="toggleAp(true)">
      <img src="assets/steering.svg">
      <div [innerText]="Resource.PowerOnButtonText"></div>
    </button>
    <button class="button danger toggle only-lg" type="button" *ngIf="state" (click)="toggleAp(false)">
      <img src="assets/power.svg">
      <div [innerText]="Resource.PowerOffButtonText"></div>
    </button>

    <button class="button setter only-lg" (click)="setCourse(1)" type="button">
      +1
    </button>
    <button class="button setter only-sm" *ngIf="state" (click)="setCourse(10)" type="button">
      +10
    </button>
    <button class="button setter only-lg" (click)="setCourse(10)" type="button">
      +10
    </button>
    <button class="button setter only-sm" *ngIf="state" (click)="setCourse(-10)" type="button">
      -10
    </button>

    <button class="button success toggle only-sm" type="button" *ngIf="!state" (click)="toggleAp(true)">
      <img src="assets/steering.svg">
      <div [innerText]="Resource.PowerOnButtonText"></div>
    </button>
    <button class="button danger toggle only-sm" type="button" *ngIf="state" (click)="toggleAp(false)">
      <img src="assets/power.svg">
      <div [innerText]="Resource.PowerOffButtonText"></div>
    </button>

  </div>
</div>
