<div *ngIf="alertService.visibility" class="alert-wrapper">
  <div class="alert-container">
    <img class="sm-hidden" src="assets/warning.svg">
    <div class="content">
      <div class="title">
        {{ alertService.title }}
      </div>
      <div class="message">
        {{ alertService.message }}
      </div>
      <div *ngIf="!isFixedConfiguration" class="form">
        <span class="span-in">
          <label [innerText]="Resource.PyPilotUrlLabel"></label>
          <input [(ngModel)]="pyPyPilotUrl" type="text">
        </span>
        <div>
          <span class="span-in">
            <label [innerText]="Resource.SignalKUrlLabel"></label>
            <input [(ngModel)]="signalKUrl" type="text">
          </span>
          <span class="span-in sm">
            <label [innerText]="Resource.SignalKPortLabel"></label>
            <input [(ngModel)]="signalKPort" type="text">
          </span>
        </div>
        <span class="span-in">
          <textarea [disabled]="true" [innerText]="alertService.stackTrace" rows="3"></textarea>
        </span>
        <div>
          <button (click)="saveAndRestart()" type="button" [innerText]="Resource.SaveButtonLabel"></button>
        </div>
      </div>
    </div>
  </div>
</div>
