* {
  height: 100%;
  width: 100%;
}

.alert-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

.alert-container {
  width: 95%;
  height: 90%;
  background: #151515;
  border-radius: 1rem;
  // border: 2px solid #2070d0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.alert-container > img {
  width: 20%;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
}

.title {
  height: auto;
  font-weight: bolder;
  font-size: 2rem;
}

.message {
  height: auto;
  font-size: 1.1rem;
}

.form {

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: auto;

  & > div {
    display: flex;
    gap: 0.5rem;
    height: auto;
  }

}

input {
  height: auto;
  padding: 1rem;
  transition: 0.4s;
  border: 1.5px solid #222;
  border-radius: 0.25rem;
  background: #222;
  letter-spacing: 0.05rem;
  width: 100%;
  &:focus {
    outline: none;
    border-color: #2070d0;
    background: #252525;
  }
  &:hover {
    border-color: #2070d0;
  }
}

button {
  padding: 1rem 2rem;
  height: auto;
  width: auto;
  background: #1071ef;
  border: 1.5px solid #222;
  border-radius: 0.25rem;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.4s;
  &:hover {
    background: #1a72e5;
    border-radius: 0.5rem;
  }
}

.span-in {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  & > label {
    font-size: 0.8rem;
    font-style: italic;
    color: #ccc;
  }
  &.sm {
    width: 30%;
    @media screen and (max-width: 768px) {
      width: 75%;
    }
  }
}

textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #252525;
  color: #8d8d8d;
}
